body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  object-fit: cover;
  background-image: url(https://thumbs.dreamstime.com/b/gruppo-di-programmazione-startup-progettista-del-sito-web-che-lavora-tavola-digitale-125629513.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  text-align: center;
  font-family: cursive, sans-serif;
  font-size: 50px;
}
main {
  display: flex;
  gap: left 10 px;
  justify-content: center;
  align-items: center;
}
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 70%;
  margin-block: 10px;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  height: 50px;
}
.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 10px;
}
li {
  font-family: cursive;

  font-weight: bold;
  margin-block: 10px;
}
